
<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Remove Tap Highlight on Windows Phone IE -->
        <meta name="msapplication-tap-highlight" content="no"/>

    <title>音乐天地!</title>

    <!--======================================================
      CSS Stylesheets
    ======================================================-->
    <link rel='stylesheet' type='text/css' href='css/bootstrap.min.css' >
    <link rel='stylesheet' type='text/css' href='http://cimply.co/css/animate.min.css' >
    <link rel='stylesheet' type='text/css' href='http://cimply.co/css/ionicons.min.css' >
    <link rel='stylesheet' type='text/css' href='http://cimply.co/css/linea.css' >
    <link rel='stylesheet' type='text/css' href='http://cimply.co/css/waves.min.css' >
    <link rel='stylesheet' type='text/css' href='http://cimply.co/css/owl.carousel.css' >
    <link rel='stylesheet' type='text/css' href='http://cimply.co/css/magnific-popup.css' >
    <link rel='stylesheet' type='text/css' href='http://cimply.co/css/style.css' >
    <link rel='stylesheet' type='text/css' href='toastr/toastr.min.css' >
  </head>

  <body>

    <!--======================================================
      Preloader
    ======================================================-->
    <div id='preloader' >
      <div class='loader' >
        <img src='http://cimply.co/img/loader.gif' alt>
      </div>
    </div>

    <!--======================================================
      Navbar
    ======================================================-->
    <nav class='navbar navbar-fixed-top' >
      <div class='container' >

        <div class='navbar-header' >

          <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#nav-collapse' aria-expanded='false'>
            <span class='sr-only' >Toggle navigation</span>
            <span class='icon-bar' ></span>
            <span class='icon-bar' ></span>
            <span class='icon-bar' ></span>
          </button>

          <a href='#' class='navbar-brand' >
            <!-- <img class='logo-light' src='http://cimply.co/img/logo.png' alt> -->
            <!-- <img class='logo-dark' src='http://cimply.co/img/logo-dark.png' alt> -->
          </a>

        </div>

        <div class='collapse navbar-collapse' id='nav-collapse' >

          <ul class='nav navbar-nav navbar-right' >

            <li class='active'>
              <a href='#intro' data-scroll>Home</a>
            </li>

            <li>
              <a href='#features' data-scroll>Features</a>
            </li>


            <li>
              <a href='#download' data-scroll>Download</a>
            </li>

            <li>
              <a href='#contact' data-scroll>Contact</a>
            </li>

          </ul>

        </div>
      </div>
    </nav>


    <!--======================================================
      Intro Section
    ======================================================-->
    <section id='intro' class='main-section parallax' data-parallax='scroll' data-image-src='http://cimply.co/img/bg-main.jpg' >

      <!-- Particles Background -->
      <div id='particles' class='particle-bg' ></div>

      <div class='container' >
        <div class='row' >

          <div class='col-md-6' >

            <div class='intro-text' >

              <h1 class='wow fadeInUp' data-wow-delay='.2s' >
                音乐天地!
              </h1>

              <p class='font-alt wow fadeInUp' data-wow-delay='.4s' >Business Card Got a Promotion</p>

              <div class='btns' >

                <a href='/signin' class='app-btn wow bounceIn' data-wow-delay='.8s' >
                  <i class='ion-android-playstore' ></i>
                  Sign in
                </a>

              </div>

            </div>
          </div>


          <div class='col-md-6' >

            <div class='mockup' >
              <img src='http://cimply.co/img/mockup1-front.png' class='front wow fadeInDown' data-wow-duration='.7s' data-wow-delay='1.6s' alt>
              <img src='http://cimply.co/img/mockup1-back.png' class='back wow fadeInDown' data-wow-duration='.7s' data-wow-delay='1.3s' alt>
            </div>

          </div>

        </div>
      </div>
    </section>


    <!--======================================================
      Video Section
    ======================================================-->
    <section id='video' class='video-section parallax' data-parallax='scroll' data-image-src='http://cimply.co/img/bg-mockup.jpg' >
      <div class='container' >
        <div class='row' >
          <div class='col-md-4 col-sm-6' >

            <div class='watch-video' >

              <a href="https://www.youtube.com/watch?v=S9KyuLvyrgo" class="play-btn wow bounceIn" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;">
                <img src='http://cimply.co/img/play-btn.png' alt>
              </a>

              <h4 class='font-alt wow fadeInUp' data-wow-delay='.4s' >Meet Cimply</h4>

              <p class='wow fadeInUp' data-wow-delay='.6s' >
                Cimply is an app that lets you connect and share your information with people around you, instead of passing out the business card, and will never run out!
              </p>

            </div>

          </div>
        </div>
      </div>
    </section>

    <!--======================================================
      Features Section
    ======================================================-->
    <section id='features' class='features-section' >
      <div class='container' >

        <div class='section-header text-center' >
          <h2 class='wow fadeInUp' data-wow-delay='.2s' >Features</h2>
          <p class='wow fadeInUp' data-wow-delay='.4s' >We've got a lot of amaing and cool features</p>
        </div>

        <div class='row' >

          <div class='col-md-4' >
            <div class='col-features text-right' >

              <div class='col-feature wow fadeInLeft' data-wow-delay='.2s' >
                <i class='icon-basic-paperplane' ></i>
                <h4>Cross-Platform</h4>
                <p>
                  Share your contact information anytime, even with non-Cimply users.
                </p>
              </div>

              <div class='col-feature wow fadeInLeft' data-wow-delay='.4s' >
                <i class='ion-android-bulb' ></i>
                <h4>Intelligently Categorized</h4>
                <p>
                  Find out Where, When and How you’ve linked with people.
                </p>
              </div>

            </div>
          </div>

          <div class='col-md-4' >

            <div class='mockup wow fadeInUp' data-wow-delay='.2s' >
              <img src='http://cimply.co/img/mockup4.png' alt>
            </div>

          </div>

          <div class='col-md-4' >
            <div class='col-features text-left' >

              <div class='col-feature wow fadeInRight' data-wow-delay='.2s' >
                <i class='icon-basic-bolt' ></i>
                <h4>Personality Profiles</h4>
                <p>
                  Build productive relationships by understanding the personality of people you communicate with.
                </p>
              </div>

              <div class='col-feature wow fadeInRight' data-wow-delay='.4s' >
                <i class='ion-android-cloud-outline' ></i>
                <h4>Contacts Hub</h4>
                <p>
                  It’s now even easier to link with people. Just ask for an introduction from your contact-tree.
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <!--======================================================
      Download Section
    ======================================================-->
    <section id='download' class='cta-section parallax' data-parallax='scroll' data-image-src='http://cimply.co/img/bg.jpg' >
      <div class='container' >

        <div class='download-app' >

          <h2 class='wow fadeInUp' data-wow-delay='.2s' >Now it's your turn.</h2>

          <div class='download-btns' >

            <a href='https://play.google.com/store/apps/details?id=com.app.cimply.cimply' class='wow bounceIn' data-wow-delay='.4s' >
              <img src='http://cimply.co/img/android.png' alt>
            </a>

            <img class='wow bounceIn' src='http://cimply.co/img/apple.png' alt>

          </div>

        </div>


        <!--======================================================
          Newsletter Section
        ======================================================-->
        <div class='newsletter' >

          <h4 class='wow fadeInUp' data-wow-delay='.2s' >Stay Updated</h4>

          <div class='row' >
            <div class='col-md-8 col-md-offset-2' >

              <!-- Newsletter Form -->
              <form class='newsletter-form' method='post' action="//cimply.us12.list-manage.com/subscribe/post?u=806d52863076d4929f792e7f0&amp;id=462bfb125a" >

                <div class='subscribe-input wow fadeInUp' data-wow-delay='.4s' >
                  <input class='txt' type='email' id='newsletter-email' name='email' placeholder='Your Email' >
                  <span><div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_806d52863076d4929f792e7f0_462bfb125a" tabindex="-1" value=""></div>
    <div class="clear"></div></span>
                  <button class='subscribe' type='submit' >Subscribe</button>
                </div>

                <label for='newsletter-email' ></label>

              </form>
            </div>
          </div>

        </div>

      </div>
    </section>

    <!--======================================================
      Contact Section
    ======================================================-->
    <section id='contact' class='contact-section' >
      <div class='container' >

        <div class='section-header text-center' >
          <h2 class='wow fadeInUp' data-wow-delay='.2s' >Say Hello!</h2>
          <p class='wow fadeInUp' data-wow-delay='.4s' >NIce to meet you ！ 很高兴遇见你 ！</p>
        </div>

        <div class='row' >
          <div class='col-md-8 col-md-offset-2' >

            <form id='contact-form' name='contactForm' class='contact-form' data-toggle='validator' >

             

              <div class='row' >
                <div class='col-md-6' >

                  <div class='form-group' >
                    <input type='text' class='form-control wow fadeInUp' data-wow-delay='.4s' id='name' placeholder='Name' required>
                    <div class='help-block with-errors' ></div>
                  </div>

                </div>
                <div class='col-md-6' >

                  <div class='form-group' >
                    <input type='email' class='form-control wow fadeInUp' data-wow-delay='.5s' id='email' placeholder='Email' required>
                    <div class='help-block with-errors' ></div>
                  </div>

                </div>
              </div>

              <div class='form-group' >
                <input type='text' class='form-control wow fadeInUp' data-wow-delay='.6s' id='password' placeholder='Password' required>
                <div class='help-block with-errors' ></div>
              </div>

              <div class='form-group' >
                <input type='text' class='form-control wow fadeInUp' data-wow-delay='.8s' id='passwordrepeat' placeholder='Password-repeat' required>
                <div class='help-block with-errors' ></div>
              </div>
             

              <div class='form-group text-center' >
                <button type='submit' class='btn-custom wow fadeInUp' data-wow-delay='1s' id = 'reg'>
                  Register NOW!
                </button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </section>

    <!--======================================================
      Footer
    ======================================================-->
    <footer>
      <div class='container' >
        <div class='row' >

          <div class='col-sm-6' >
            <p class='wow' data-wow-delay='.2s' >
              &copy; 2017 .
            </p>
          </div>

          <div class='col-sm-6' >

            <!-- Footer Social Icons -->
            <ul class='footer-social wow fadeInRight' data-wow-delay='.2s' >
              <li>
                <a href='http://www.baidu.com' >
                  <i class='ion-social-facebook' ></i>
                </a>
              </li>
              <li>
                <a href='http://www.bistu.edu.cn/' >
                  <i class='ion-social-twitter' ></i>
                </a>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </footer>

    <!--======================================================
      JavaScript Files
    ======================================================-->
    <script src='/music/js/jquery.min.js' ></script>
    <script type="text/javascript">
    jQuery(document).ready(function($) {
      var buttonArr = document.getElementById('reg');
      buttonArr.addEventListener('click', function() {
        console.log("aaa");
        $.ajax({
          type: 'POST',
          url: '/reg',
          data: {
            name: document.getElementById('name').value,
            email: document.getElementById('email').value,
            password: document.getElementById('password').value,
            passwordrepeat: document.getElementById('passwordrepeat').value
          },
          dataType: "json",
          success: function(res) {
            console.log(res);
            if (!!res.state) {
              var opts = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-full-width",
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
              };
              toastr.success(res.info, "成功", opts);
            }
            if (!res.state) {
              var opts = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-full-width",
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
              };
              toastr.error(res.info, "失败", opts);
            }
            setTimeout("window.location.href = '/' ",3000);
                
              
            // window.location = '/signin'

          }
        });
      }, false);

    })
    </script>
    <script src='js/bootstrap.min.js' ></script>
    <script src="toastr/toastr.min.js"></script>
    <script src='http://cimply.co/js/jquery.magnific-popup.min.js' ></script>
    <script src='http://cimply.co/js/jquery.ajaxchimp.min.js' ></script>
    <script src='http://cimply.co/js/parallax.min.js' ></script>
    <script src='http://cimply.co/js/particles.min.js' ></script>
    <script src='http://cimply.co/js/waves.min.js' ></script>
    <script src='http://cimply.co/js/owl.carousel.min.js' ></script>
    <script src='http://cimply.co/js/wow.min.js' ></script>
    <script src='http://cimply.co/js/validator.min.js' ></script>
    <script src='http://cimply.co/js/smooth-scroll.min.js' ></script>
    <script src='http://cimply.co/js/script.js' ></script>
  </body>
</html>
