
<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no"/>

    <title>音乐天地!</title>

    <!--======================================================
      CSS Stylesheets
    ======================================================-->
    <link rel='stylesheet' type='text/css' href='css/bootstrap.min.css' >
    <link rel='stylesheet' type='text/css' href='http://cimply.co/css/animate.min.css' >
    <link rel='stylesheet' type='text/css' href='http://cimply.co/css/ionicons.min.css' >
    <link rel='stylesheet' type='text/css' href='http://cimply.co/css/linea.css' >
    <link rel='stylesheet' type='text/css' href='http://cimply.co/css/waves.min.css' >
    <link rel='stylesheet' type='text/css' href='http://cimply.co/css/owl.carousel.css' >
    <link rel='stylesheet' type='text/css' href='http://cimply.co/css/magnific-popup.css' >
    <link rel='stylesheet' type='text/css' href='cimply/css/style.css' >
    <link rel='stylesheet' type='text/css' href='toastr/toastr.min.css' >
  </head>

  <body>

    <!--======================================================
      Preloader
    ======================================================-->
    <div id='preloader' >
      <div class='loader' >
        <img src='http://cimply.co/img/loader.gif' alt>
      </div>
    </div>

    <!--======================================================
      Navbar
    ======================================================-->
    <nav class='navbar navbar-fixed-top' >
      <div class='container' >

        <div class='navbar-header' >

          <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#nav-collapse' aria-expanded='false'>
            <span class='sr-only' >Toggle navigation</span>
            <span class='icon-bar' ></span>
            <span class='icon-bar' ></span>
            <span class='icon-bar' ></span>
          </button>

          <a href='#' class='navbar-brand' >
            <!-- <img class='logo-light' src='http://cimply.co/img/logo.png' alt> -->
            <!-- <img class='logo-dark' src='http://cimply.co/img/logo-dark.png' alt> -->
          </a>

        </div>

        <div class='collapse navbar-collapse' id='nav-collapse' >

          <ul class='nav navbar-nav navbar-right' >

            <li class='active'>
              <a href='#intro' data-scroll>Home</a>
            </li>

            <li>
              <a href='#features' data-scroll>Features</a>
            </li>


            <li>
              <a href='#download' data-scroll>Download</a>
            </li>

            <li>
              <a href='#contact' data-scroll>Contact</a>
            </li>

          </ul>

        </div>
      </div>
    </nav>

    <!--======================================================
      Contact Section
    ======================================================-->
    <section id='contact' class='contact-section' >
      <div class='container' >

        <div class='section-header text-center' >
          <h2 class='wow fadeInUp' data-wow-delay='.2s' >Say Hello!</h2>
          <p class='wow fadeInUp' data-wow-delay='.4s' >Be as you were when we met ！</p>
        </div>

        <div class='row' >
          <div class='col-md-8 col-md-offset-2' >

            <form id='contact-form' name='contactForm' class='contact-form' data-toggle='validator' >




              <div class='form-group' >
                <input type='text' class='form-control wow fadeInUp' data-wow-delay='.4s' id='name' placeholder='Name' required>
                <div class='help-block with-errors' ></div>
              </div>

              <div class='form-group' >
                <input type='text' class='form-control wow fadeInUp' data-wow-delay='.5s' id='password' placeholder='Password' required>
                <div class='help-block with-errors' ></div>
              </div>

              <div class='row' >
                <div class='col-md-6' >

                  <div class='form-group' >
                    <input type='text' class='form-control wow fadeInUp' data-wow-delay='.6s' id='ccapcode' placeholder='CAPTCHA' required>
                    <div class='help-block with-errors' ></div>
                  </div>

                </div>
                <div class='col-md-2' >

                  <div class='form-group' >
                  <img id = 'ccap' src="/verificationCode/1" class='form-control-ccap wow fadeInUp' alt="刷新" data-wow-delay='.8s' class="verCodePic" required>


                  </div>

                </div>
              </div>

              <div class='form-group text-center' >
                <button id = 'signin' type='submit' class='btn-custom wow fadeInUp' data-wow-delay='1s' >
                  Sign in
                </button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </section>

    <!--======================================================
      Footer
    ======================================================-->
    <footer>
      <div class='container' >
        <div class='row' >

          <div class='col-sm-6' >
            <p class='wow' data-wow-delay='.2s' >
              &copy; 2017 .
            </p>
          </div>

          <div class='col-sm-6' >

            <!-- Footer Social Icons -->
            <ul class='footer-social wow fadeInRight' data-wow-delay='.2s' >
              <li>
                <a href='http://www.baidu.com' >
                  <i class='ion-social-facebook' ></i>
                </a>
              </li>
              <li>
                <a href='http://www.bistu.edu.cn/' >
                  <i class='ion-social-twitter' ></i>
                </a>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </footer>

    <!--======================================================
      JavaScript Files
    ======================================================-->
    <script src='/music/js/jquery.min.js' ></script>
    <script type="text/javascript">
    jQuery(document).ready(function($) {
      var buttonCcap = document.getElementById('ccap');
      console.log(buttonCcap);
      var change = 1;
      buttonCcap.addEventListener('click', function() {
        console.log("aaa");
        change++;
        var url = '/verificationCode/' + change;
        buttonCcap.setAttribute('src', url);
      }, false);

      var buttonSignin = document.getElementById('signin');
      buttonSignin.addEventListener('click', function() {
        console.log("aaaa");
        console.log(document.getElementById('ccapcode').value);
        $.ajax({
          type: 'POST',
          url: '/checkVerCode',
          data: {
            verCode: document.getElementById('ccapcode').value
          },
          dataType: 'json',
          success: function(res) {
            console.log(res);
            if (!!res.state) {
              $.ajax({
              type: 'POST',
              url: '/signin',
              data: {
                name: document.getElementById('name').value,
                password: document.getElementById('password').value
              },
              dataType: "json",
              success: function(res1) {
                console.log(res1);
                console.log(res1);
                if (!!res1.state) {
                  var opts = {
                    "closeButton": true,
                    "debug": false,
                    "positionClass": "toast-top-full-width",
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                  };
                  toastr.success(res1.info, "成功", opts);
                  setTimeout("window.location.href = '/music' ",3000);
                }
                if (!res1.state) {
                  var opts = {
                    "closeButton": true,
                    "debug": false,
                    "positionClass": "toast-top-full-width",
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                  };
                  toastr.error(res1.info, "失败", opts);
                  //setTimeout("window.location.href = '/signin' ",3000);
                }
                // window.location = '/signin'

              }
            });
            }
            if (!res.state) {
              var opts = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-full-width",
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
              };
              toastr.error(res.info, "失败", opts);
              //setTimeout("window.location.href = '/signin' ",3000);
            }

          }
        });

      }, false);
    })
    </script>

    <script src='js/bootstrap.min.js' ></script>
    <script src="toastr/toastr.min.js"></script>
    <script src='http://cimply.co/js/jquery.magnific-popup.min.js' ></script>
    <script src='http://cimply.co/js/jquery.ajaxchimp.min.js' ></script>
    <script src='http://cimply.co/js/parallax.min.js' ></script>
    <script src='http://cimply.co/js/particles.min.js' ></script>
    <script src='http://cimply.co/js/waves.min.js' ></script>
    <script src='http://cimply.co/js/owl.carousel.min.js' ></script>
    <script src='http://cimply.co/js/wow.min.js' ></script>
    <script src='http://cimply.co/js/validator.min.js' ></script>
    <script src='http://cimply.co/js/smooth-scroll.min.js' ></script>
    <script src='http://cimply.co/js/script.js' ></script>
  </body>
</html>
