<!DOCTYPE html>
<!-- release v4.1.8, copyright 2014 - 2015 Kartik Visweswaran -->
<html >
    <head>
        <meta charset="UTF-8"/>
        <title>upload</title>
        <link rel='stylesheet' type='text/css' href='//localhost:3001/css/bootstrap.min.css' >
        <link href='//localhost:3001/css/fileinput.min.css' media="all" rel="stylesheet" type="text/css" >
        <script src="//localhost:3001/js/jquery-3.1.1.min.js" type="text/javascript"></script>
        <!-- <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script> -->
        <script src="//localhost:3001/js/fileinput.js" type="text/javascript"></script>
        <script src="//localhost:3001/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="//localhost:3001/js/fileinput_locale_zh.js" type="text/javascript"></script>
    </head>
    <body>
      <div class="container kv-main" >
            <h2>上传歌曲</h2>
            <br>
            <form id="music-info">
                <div class="form-group">
                    <h3>填写歌曲信息</h3>
                    <br>
                    <div class="form-group">
                      <label>歌曲名称</label>
                      <input type="text" class="form-control" id="text-1" name="name" placeholder="Name" required="required">
                    </div>
                    <div class="form-group">
                      <label>作者名称</label>
                      <input type="text" class="form-control" id="text-2" name="author" placeholder="Name" required="required">
                    </div>
                    <div class="form-group">
                      <label>歌曲类型</label>
                      <select class="form-control" name="type">
                        <option>摇滚</option>
                        <option>民谣</option>
                        <option>流行</option>
                      </select>
                    </div>
                </div>
                <input id='bt1' type="button"class="btn btn-primary" value='上传'></input>
            </form>
            <form enctype="multipart/form-data" method="post" >
                <div>
                    <h3>选择歌曲文件</h3>
                    <input id="file-1" type="file" multiple class="file" data-overwrite-initial="false" required="required">
                    <h3>选择歌曲封面</h3>
                    <input id="file-2" type="file" multiple class="file" data-overwrite-initial="false" required="required">
                </div>
            </form>
        </div>
	<script>

    $('#bt1').on('click',()=>{
        let data=$("#music-info").serializeArray();
        let dataJson={};
        let haveNull=false;
        data.map((e)=>{
          dataJson[e.name]=e.value;
          if(!e.value){
            haveNull=true;
          }
        });
        if(haveNull){
          alert("输入完整信息!");
        }else {
          $.ajax({
            url: 'http://localhost:3001/upload',
            type: 'POST',
            dataType: 'json',
            data:dataJson
          })
          .done(function() {
            console.log("success");
          })
          .fail(function() {
            console.log("error");
          })
          .always(function() {
            console.log("complete");
          });

        }
    });

    function fileinputInit(id,url,type){
      $("#"+id).fileinput({
          uploadUrl: url, // you must set a valid URL here else you will get an error
          language: 'zh', //设置语言
          //allowedFileExtensions : ['jpg', 'png','gif'],
          //overwriteInitial: false,
          maxFileSize: 5000,
          maxFilesNum:1,
          maxFilesCount: 1,
          showUpload:true,
          allowedFileTypes: [type],
          slugCallback: function(filename) {
              return filename.replace('(', '_').replace(']', '_');
          }
    	});
    }

    fileinputInit("file-1","localhost:3001","audio");
    fileinputInit("file-2","localhost:3001","image");


	</script>
  </body>
</html>
